:root {
  --musicContentSpaceNeeded: 0px;
  --sidebarSpaceNeeded: 0px;
  --sidebarSpaceNeededSecondary: 0px;
}

.searchListDivider {
  margin: 0px 0px 16px 0px;
  font-size: 24px;
}

#musicSearchResultsTracks, .tracksContainer, #exploreTracks, #parallelSearchResultsTracks, #savedContent_tracks {
  margin-bottom: 12px;
}

.artist:active, .album:active, .genre:active, .radio:active {
  transform: scale(0.95);
}

#musicSearchResultsGhost {
  height: calc(100% - 82px);
  width: 100%;
  padding-right: 8px;
  padding-top: 76px;
  overflow-y: hidden;
}

@keyframes ghostPulse {
  from {
    opacity: 1
  }

  to {
    opacity: 0.5;
  }
}

.ghostTrack {
  padding: 8px 24px 8px 24px;
  position: relative;
  border-radius: 8px;
  height: calc(32px);
  background-color: var(--bg3);
  margin: 0px 48px 16px 48px;
  animation: ghostPulse 0.5s alternate infinite;
}

.ghostTrack::before {
  position: absolute;
  background-color: var(--bg4);
  top: 50%; left: 14px; border-radius: 6px;
  transform: translate(0, -50%);
  height: 24px; width: 240px;
  content: '';
}

.ghostHorizontalArray {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  width: calc(100% - 48px - 48px);
  margin: 48px 48px 0px 48px;
}

.ghostArtist {
  position: relative;
  transition: all 0.5s;
  min-width: calc(180px);
  height: 220px;
  margin-right: 32px;
  background-color: var(--bg3);
  border-radius: 14px;
  animation: ghostPulse 0.5s alternate infinite;
}

.ghostArtist::before {
  position: absolute;
  background-color: var(--bg4);
  top: 35%; left: 50%; border-radius: 43px;
  transform: translate(-50%, -50%);
  height: 96px; width: 96px;
  content: '';
}

.ghostArtist::after {
  position: absolute;
  background-color: var(--bg4);
  bottom: 24px; left: 50%; border-radius: 6px;
  transform: translate(-50%, 0);
  height: 18px; width: 108px;
  content: '';
}

.ghostAlbum {
  position: relative;
  transition: all 0.5s;
  min-width: calc(180px);
  height: 180px;
  margin-right: 32px;
  margin-bottom: 36px;
  background-color: var(--bg3);
  border-radius: 14px;
  animation: ghostPulse 0.5s alternate infinite;
}

.ghostAlbum::after {
  position: absolute;
  background-color: var(--bg4);
  bottom: -34px; left: 12px; border-radius: 6px;
  height: 18px; width: 108px;
  content: '';
}

.track {
  padding: 8px 24px 8px 24px;
  position: relative;
  transition: all 0.3s;
  border-radius: 8px;
  height: calc(36px);
}

.track:hover {
  background-color: var(--bg3);
  /* cursor: var(--defaultByPointer); */
}

.track .trackContentContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: calc(100% - 16px); width: calc(100% - 48px);
  padding: 8px 24px 8px 24px;
  top: 0px; left: 0px;
  position: absolute;
  pointer-events: none;
  z-index: 2;
}

.track .trackContentContainer .trackAlbum span, .track .trackContentContainer .trackArtist span, .track .trackContentContainer .LikedButtonTrackContainer *, .track .trackContentContainer .trackTitle {
  pointer-events: all;
}

.track .trackClickBackground {
  position: absolute;
  /* background-color: red; */
  cursor: var(--defaultByPointer);
  top: 0px; left: 0px;
  width: 100%; height: 100%;
  z-index: 1;
}

.trackRemoved {
  background-color: red;
  border-radius: 0px;
  overflow: hidden;
  height: 0px; padding: 0px;
  transition: all 0.5s;
}

.track .trackContentContainer .playButtonList {
  position: absolute;
  left: calc(30px + 18px); 
  transform: translate(-50%, -50%);
  top: calc(8px + 18px);
  padding: 0px; width: 36px;
  border-radius: 8px;
  height: 36px; margin: 0px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s;
  background-color: var(--bg1);
  color: var(--primary);
  z-index: 1;
}

.track.includeAlbumfalse .playButtonList {
  left: 30px;
}

.track:hover .playButtonList {
  opacity: 1;
  pointer-events: all;
  cursor: var(--defaultByPointer)
}

.playButtonList:hover {
  background-color: var(--primary) !important;
  color: white !important;
}

.playButtonList:active {
  transform: translate(-50%, -50%) !important;
}

.track:hover img {
  opacity: 0;
}

.track .trackContentContainer .trackIndex {
  display: inline-block;
  vertical-align: middle;
  color: var(--fg3);
  pointer-events: all;
  text-align: right;
  width: 18px; padding: 4px;
  transform: translate(-7px, 0);
  font-size: 10px;
}

.track .trackContentContainer .LikedButtonTrackContainer {
  display: inline-flex;
  padding: 2px 0px 0px 12px;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  color: var(--fg3);
  width: 32px;
  margin-right: 8px;
}

.track .trackContentContainer .LikedButtonTrackContainer .favButton {
  background-color: transparent;
  padding: 0px; margin: 0px;
  padding-top: 4px; /* random correction */
  pointer-events: none;
  position: relative;
}

.track .trackContentContainer .trackTitleContainer {
  width: 100%;
  display: block; 
  white-space: nowrap;
  text-align: left;
  text-overflow: ellipsis;
}

.track .trackContentContainer .trackTitle {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  padding-right: 16px;
  overflow: hidden;
  word-wrap: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.track .trackContentContainer .trackArtist, .track .trackContentContainer .trackAlbum {
  display: block; 
  width: 100%;
  overflow: hidden;
  word-wrap: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--fg2);
  padding-right: 16px;
}

.track .trackContentContainer .trackArtist span:hover, .track .trackContentContainer .trackAlbum span:hover, .track .trackContentContainer .trackTitle:hover {
  color: var(--secondary);
  cursor: var(--defaultByPointer);
}

.track .trackContentContainer .trackAlbum.trackArtistNoHighlight span:hover, .track .trackContentContainer .trackAlbum.trackAlbumNoHighlight span:hover {
  color: var(--fg2);
}

.track img {
  display: inline-block;
  vertical-align: middle;
  width: 36px; height: 36px;
  border-radius: 6px;
  object-fit: cover;
  /* margin-right: 16px; */
  opacity: 1;
  transition: all 0.3s;
}

#exploreGenres, #radiosTop {
  text-align: center;
}

.genre {
  display: inline-block;
  position: relative;
  transition: all 0.5s;
  width: 200px; height: 120px;
  background-color: black;
  box-shadow: 0px 1px 18px -3px rgba(0,0,0,0.5);
  border-radius: 12px;
  margin: 8px;
}

.radio {
  display: inline-block;
  position: relative;
  transition: all 0.5s;
  width: 200px; height: 200px;
  background-color: black;
  box-shadow: 0px 1px 18px -3px rgba(0,0,0,0.5);
  border-radius: 12px;
  margin: 8px;
}

.radio .musicItemContent img {
  width: 200px; height: 200px;
  border-radius: 12px;
  position: absolute;
  left: 0px; top: 0px;
  object-fit: cover;
  opacity: 0.7;
}

.radio .musicItemContent h3 {
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.genre:hover, .radio:hover {
  opacity: 0.75;
  cursor: var(--defaultByPointer);
}

.genre .musicItemContent img {
  width: 200px; height: 120px;
  border-radius: 12px;
  position: absolute;
  left: 0px; top: 0px;
  object-fit: cover;
  opacity: 0.4;
}

.genre .musicItemContent h3 {
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.musicViewContent h3 {
  margin-top: 18px;
}

.artist {
  position: relative;
  transition: all 0.5s;
  width: calc(180px + 36px + 20px);
}

.artist .musicItemContent {
  background-color: var(--bg3);
  position: relative;
  border-radius: 12px;
  padding: 18px; margin-right: 20px;
  transition: all 0.2s;
}

.artist .musicItemContent:hover {
  opacity: 0.75;
  cursor: var(--defaultByPointer);
}

.artist .musicItemContent img {
  width: 180px; height: 180px;
  object-fit: cover;
  margin-bottom: 6px;
  clip-path: url(#squircle);
  box-shadow: 0px 5px 24px -3px rgba(0,0,0,0.22);
}

.artist .favButton {
  opacity: 0;
  pointer-events: none;
  border-radius: 12px;
  position: absolute;
  top: 0px; right: 20px;
  width: 32px; height: 32px;
  box-shadow: 0px 5px 24px -3px rgba(0,0,0,0.22);
  font-size: 16px;
  padding: 0px;
  z-index: 1;
}

.artist:hover .favButton {
  opacity: 1;
  pointer-events: all;
}

.artist .musicItemContent .artistName {
  display: block;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: var(--fg1);

  width: calc(180px); overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: nowrap;
}

.artist .musicItemContent .artistName:hover {
  color: var(--secondary);
  cursor: var(--defaultByPointer);
}

.artistRemoved {
  width: 0px;
  overflow: hidden;
  transition: all 0.5;
}

.artistRemoved .musicItemContent {
  margin-right: 0px;
  background-color: red;
  transition: all 0.5s;
}

.artistRemoved .musicItemContent .artistName {
  color: white;
}

#musicSearchResultsAlbums, .albumsContainer, #musicSearchResultsArtists, .artistsContainer, #savedContent_albums, #savedContent_artists, #exploreAlbums, #exploreAlbumsFeatured, #musicSearchResultsPlaylists {
  display: flex;
  flex-direction: row;
  padding-top: 8px;
  padding-bottom: 12px;
  margin-bottom: 12px;
  overflow-y: auto;
}

#exploreAlbums, #exploreAlbumsFeatured {
  margin-bottom: 18px;
}

.album {
  margin-right: 20px;
  transition: all 0.2s;
  position: relative;
  width: 200px;
}

.albumRemoved {
  width: 0px;
  overflow: hidden;
  margin-right: 0px;
  transition: all 0.5s;
}

.albumRemoved .musicItemContent {
  transition: all 0.5s;
}

.album .musicItemContent img:hover {
  opacity: 0.75;
  cursor: var(--defaultByPointer);
}

.album .favButton {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0px; right: 0px;
  width: 32px; height: 32px;
  box-shadow: 0px 5px 24px -3px rgba(0,0,0,0.22);
  font-size: 16px;
  padding: 0px;
  z-index: 1;
}

.album:hover .favButton {
  opacity: 1;
  pointer-events: all;
}

.album:hover .favButton:hover {
  opacity: 0.65 !important;
}

.album .musicItemContent img {
  width: 200px; height: 200px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 4px;
  box-shadow: 0px 5px 24px -3px rgba(0,0,0,0.22);
}

.album .musicItemContent .albumTitle {
  width: 200px; overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: nowrap;
}

.album .musicItemContent .albumTitle:hover {
  color: var(--secondary);
  cursor: var(--defaultByPointer);
}

.album .albumArtist {
  white-space: nowrap;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--fg3)
}

.album .albumArtist:hover {
  color: var(--secondary);
  cursor: var(--defaultByPointer);
}

/* MUSIC VIEWS */
.musicView {
  position: fixed;
  left: calc(104px + 4px + 270px + 24px);
  top: 48px;
  width: calc(100% - 426px);
  overflow-y: auto;
  height: calc(100% - var(--musicContentSpaceNeeded) - 72px );
  background-color: var(--bg2);
  z-index: 2; /* important */
  border-radius: 12px;
  transition: all 0.8s;
}

.musicView::-webkit-scrollbar {
  display: none;
}

.musicViewContent {
  padding: 0px 24px 12px 24px;
  z-index: 2;
}

.playlistView .musicViewContentContainer {
  height: calc(100% - 86px);
  margin-top: 12px;
  overflow-y: auto;
}

.albumView .musicViewContentContainer {
  margin-top: 16px;
  height: calc(100% - 90px);
  margin-right: 8px;
  overflow-y: auto;
}

.musicViewContentContainer {
  height: calc(100% - 74px);
  margin-right: 8px;
  overflow-y: auto;
  overflow-x: hidden;
}

.musicViewHeader {
  position: sticky;
  top: 0px; left: 0px;
  z-index: 5;
  border-radius: 12px 12px 0px 0px;
  width: calc(100% - 48px); height: 64px;
  background-color: var(--bg1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 24px 0px 24px;
}

.favButton {
  border-radius: 124px;
  background-color: var(--bg1);
  color: var(--primary);
  padding: 0px;
  width: 42px; height: 42px;
}

.favButton i {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

.genreView .genreTopLevel {
  padding: 24px;
  text-align: center;
  margin-bottom: 24px;
  /* Gradient background */
  background: linear-gradient(to right, var(--primary) 0%, var(--secondary) 100%);
  border-radius: 0px 0px 12px 12px;
}

.genreView .genreTopLevel .genreTitle {
  font-size: 24px;
  font-weight: 600;
  color: white;
}

.genreView .genreCover {
  width: calc(100%);
  height: 165px;
  border-radius: 0px 0px 24px 24px;
  box-shadow: 0px 1px 18px -3px rgba(0,0,0,0.5);
  object-fit: cover;
  object-position: center;
  opacity: 0;
}

.genreView .genreCoverOpacity {
  opacity: 0.232 !important;
  transition: all 1s;
}

.genreView .genreDetails {
  font-size: 24px;
  text-align: center;
  transform: translateY(-116px);
  color: var(--primary);
}

.genreView h3 {
  margin-bottom: 8px !important;
}

.heroImageContainer  {
  text-align: center;
}

.artistView .heroImage {
  width: calc(100%); height: 250px;
  top: 64px; left: 0px;
  object-fit: cover;
  object-position: center;
  opacity: 1;
  mask-image: -webkit-gradient(linear, left top, left bottom, from(var(--bg2)), to(rgba(0,0,0,0)));
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(var(--bg2)), to(rgba(0,0,0,0)));
}

.artistView .artistTitle {
  display: flex;
  margin: 0px 24px 0px 24px;
  align-items: center;
  transform: translateY(-48px);
  height: 0px;
  justify-content: space-between;
}

.artistView .mainFavButton {
  position: relative;
}

.artistView .artistTitle h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 12px;
  font-size: 56px;
  color: var(--primary);
}

.albumView .albumTopLevel {
  padding: 8px 24px 0px 24px;
}

.albumView .albumCover {
  border-radius: 6px;
  width: 250px;
  height: 250px;
  object-fit: cover;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0px 5px 24px -3px rgba(0,0,0,0.22);
}

.albumView .dropdownButton {
  margin-top: 4px;
  height: calc(100% - 4px);
}

.albumView .albumFlexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.albumView .albumFlexRow .favButton {
  position: relative;
}

.albumView .albumDetails {
  display: inline-block;
  vertical-align: middle;
  margin-left: 24px;
  width: calc(100% - 280px);
}

.albumView .albumDetails .albumName {
  font-size: 48px;
  color: var(--primary);
  border-radius: 6px;
  object-fit: cover;
  width: calc(100%);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.playlistView .playlistDetails button, .albumView .albumDetails button:not(.favButton) {
  width: 42px;
  height: 42px;
  padding: 0px !important;
  margin: 0px 12px 0px 0px;
  font-size: 16px !important;
}

.albumView .albumDetails .albumDetailsLine {
  margin-top: 0px;
  color: var(--fg3);
}

.albumView .albumDetails .albumDetailsLine .albumArtist {
  color: var(--fg3);
}

.albumView .albumDetails .albumDetailsLine .albumArtist:hover {
  color: var(--secondary);
  cursor: var(--defaultByPointer);
}

.albumDetailsSeparator i, .playlistDetailsSeparator i {
  vertical-align: middle;
  font-size: 6px;
  margin: 0px 4px 0px 4px;
}

.albumView hr {
  display: block;
  width: calc(100% - 48px);
  margin: 24px;
}

.albumView .heroBanner {
  position: absolute;
  pointer-events: none;
  width: 100%; height: 300px;
  top: 64px; left: 0px;
  object-fit: cover;
  z-index: -1;
  object-position: center;
  opacity: 0.443;
  mask-image: -webkit-gradient(linear, left top, left bottom, from(var(--bg2)), to(rgba(0,0,0,0)));
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(var(--bg2)), to(rgba(0,0,0,0)));
}

.closeButton {
  font-size: 14px;
  margin-right: 0px;
}

.closeButton:active {
  transform: scale(0.90) !important;
}

.playlistView .playlistTopLevel {
  padding: 12px 24px 24px 24px;
  width: calc(100% - 48px); 
}

.playlistView .playlistDetails {
  display: inline-block;
  vertical-align: middle;
  margin-left: 36px;
  width: calc(100% - 250px - 36px - 24px - 6px);
}

.playlistView .hr, .albumView .hr {
  background-color: var(--afg1);
  height: 2px;
  display: block;
  width: calc(100% - 48px);
  text-align: center;
  z-index: 0;
  margin: 0px 24px 24px 24px;
}

.albumView .hr {
  margin-top: 24px;
}

.playlistView .playlistCover {
  border-radius: 6px;
  width: 250px;
  height: 250px;
  object-fit: cover;
  display: inline-block;
  vertical-align: middle;
  background-color: var(--bg3);
  box-shadow: 0px 5px 24px -3px rgba(0,0,0,0.22);
  position: relative;
  transition: all 0.8s;
}

.playlistView .playlistCover .playlistCoverButton {
  position: absolute;
  pointer-events: none;
  opacity: 0;
  width: 32px; height: 32px;
  box-shadow: 0px 5px 24px -3px rgba(0,0,0,0.22);
  font-size: 16px;
  padding: 0px;
  z-index: 1;
  right: 0px;
}

.playlistView .playlistCover:hover .playlistCoverButton {
  opacity: 1;
  pointer-events: all;
}

.playlistView .playlistCover .playlistCoverButton.playlistCoverRemove {
  top: 0px;
  background-color: var(--bg3);
  color: red;
}

.playlistView .playlistCover .playlistCoverButton.playlistCoverEdit {
  bottom: 0px;
  background-color: var(--primary);
  color: white;
}

.playlistView .playlistCover .playlistCoverButton:hover {
  opacity: 0.65;
  transition: all 0.5s;
}

.playlistView .playlistCover .missingIconIcon {
  position: absolute; 
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  color: var(--fg1);
  font-size: 38px;
}

.playlistView .playlistCover img {
  position: absolute;
  left: 0px; top: 0px;
  height: 100%; width: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.playlistView .playlistTitle {
  width: 100%; overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: nowrap; 
  color: var(--primary);
  vertical-align: middle;
  opacity: 1;
  transition: all 0.3s;
}

#musicTab_playlists .playlistView .playlistTitle.myPlaylistTitle:hover { 
  /* Not applied on preview page */
  opacity: 0.75 !important;
  cursor: text;
}

.playlistView .playlistTitle .emoji {
  height: 32px !important;
  padding-bottom: 8px;
}

.playlistView .playlistDetails .playlistCreator {
  color: var(--fg3);
}

.playlistView .playlistDetails .playlistCreator:hover {
  color: var(--secondary);
  cursor: var(--defaultByPointer);
}

.playlistCreator.noHighlight {
  color: var(--fg3) !important;
  cursor: default !important;
}

.playlistView .tracksContainer {
  height: calc(100% - 380px);
  padding-bottom: 18px;
  border-bottom: 2px solid var(--afg1);
  overflow-y: auto;
  margin-bottom: 12px;
}

.albumView .musicViewContent .hr {
  margin-left: 0px;
  margin-right: 0px;
}

.bothAlbumAndIndextrue {
  left: 72px !important;
}

.includeIndexfalse.track .trackContentContainer .playButtonList {
  left: calc(24px + 18px)
}

.trackIndexEditabletrue:hover {
  cursor: var(--defaultByPointer);
  color: var(--secondary) !important;
}

#musicPlayback {
  position: fixed;
  left: calc(402px);
  bottom: 24px; padding: 12px; 
  width: calc(100% - 450px);
  height: calc(42px);
  background-color: var(--bg1);
  border-radius: 12px;
  transition: all 0.5s;
}   

.musicPlayer {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.musicPlayer .plyr {
  width: calc(100%);
  display: inline-block;
  vertical-align: middle;
}

.musicPlayer .plyr__controls {
  background-color: var(--bg1);
  width: calc(100%);
}

.playbackDetails {
  display: inline-flex;
  vertical-align: middle;
  flex-direction: row;
  align-items: center;
}

.playbackDetails img {
  width: 42px;
  height: 42px;
  object-fit: cover;
}

.playbackDetails div {
  margin-left: 12px;
  margin-right: 12px;
  text-align: left;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.playbackDetails div p, .playbackDetails div b {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: max-content;
}

.playbackDetails div p:hover, .playbackDetails div b:hover {
  cursor: var(--defaultByPointer);
  color: var(--secondary) !important;
}

#currentTrackAuthor {
  height: var(--trackAuthorHeight);
  margin-top: 0px;
  transition: all 0.5s;
  color: var(--fg3);
}

#currentTrackAuthor.waiting {
  height: 0px;
  margin: 0px;
}

#currentTrackDetailsContainer {
  width: 0px;
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
}

.playbackDetails div p {
  margin: 0px;
  margin-top: 3px;
}

.playbackControls {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
}

.playbackControls .playbackButton {
  background-color: var(--bg2);
  padding: 0px; width: 32px; height: 32px;
  color: var(--fg1); font-size: 18px;
  position: relative; margin: 0px 2px 0px 2px;
}

.playbackControls .playbackButton i {
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
}

.musicPopoutButton {
  position: fixed;
  bottom: 24px; left: 108px;
  height: 64px; width: 64px;
  border-radius: 12px;
  background-color: var(--bg0);
  z-index: 5;
  transition: all 0.3s;
}

.musicPopoutButton .frontFacingIcon {
  position: absolute;
  top: 0px; left: 0px;
  margin: 0px; padding: 0px;
  border-radius: 12px;
  height: 100%; width: 100%;
  background-color: transparent;
}

.musicPopoutButton .frontFacingIcon i{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  color: var(--primary);
  font-size: 18px;
}

.musicPopoutExpanded {
  width: 242px;
  padding-left: 4px;
  text-align: center; 
}

.musiocpopoutExpanded .currentTrackCoverMini {
  transition: all 0.3s;
}

.musicPopoutExpanded .playbackControls {
  width: auto !important;
}

.musicPopoutExpanded #musicPopoutHidden {
  position: absolute;
  padding: 0px 12px 0px 8px;
  top: 50%;
  transform: translate(0, -50%);
}

.musicPopoutExpanded #musicPopoutHidden div {
  width: 52px;
  margin-right: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.musicPopoutExpanded #musicPopoutHidden .playbackControls {
  margin-left: 11px;
}

.collpaseMiniButton {
  position: absolute !important;
  border-radius: 0px 12px 12px 0px;
  right: -46px; top: -17px;
  width: 26px; height: 64px;
  padding: 0px; font-size: 10px;
  background-color: var(--bg1);
  color: white !important;
}

.musicPopoutExpanded #musicPopoutHidden div p, .musicPopoutExpanded #musicPopoutHidden div b {
  width: 130px;
  font-size: 12px;
}

.collpaseMiniButton:active {
  background-color: var(--primary);
}

#queueHeader {
  margin: 8px 0px 14px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#queueHeader * {
  margin: 0px;
}

#nowPlaying {
  margin: 0px 0px 18px 0px;
  padding-bottom: 12px;
  border-bottom: 2px solid var(--afg2);
}

#nowPlaying .track {
  background-color: var(--bg1);
  box-shadow: 0px 5px 24px -3px rgba(0,0,0,0.22); 
  border-radius: 12px;
}

#nowPlaying .track .trackContentContainer {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% - 24px);
}

#nowPlaying .track .trackContentContainer .playButtonList {
  left: 30px;
}

.musicTab {
  padding-right: 12px;
  margin-right: 12px;
}

.sortableGhost {
  background-color: var(--primary);
  border-bottom: 4px solid var(--secondary);
  border-top: 4px solid var(--secondary);
  opacity: 0.2;
}

.sortableGhostGuild {
  border: 3px solid var(--secondary);
  opacity: 0.5;
}

.loopedSongHighlight {
  color: var(--secondary)
}

.playlistDropdownButton {
  background-color: var(--bg4);
  font-size: 16px !important; 
  padding: 8px !important; 
}

#musicSidebarPlaylistFolders {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 8px;
}

#musicSidebarPlaylistFolders::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 16px;
  width: calc(100% - 32px);
  height: 4px;
  border-radius: 8px;
  background-color: var(--bg3);
}

#newPlaylistFolderButton {
  margin-right: 0px;
}

#newPlaylistButton {
  margin-left: 0px;
}

.trackExplicit {
  position: absolute;
  right: 65px; top: 50%;
  transform: translate(0, -50%);
  font-size: 12px;
  background-color: var(--bg4);
  padding: 2px 6px 2px 6px;
  border-radius: 4px;
  color: var(--fg3);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.22);
  /* border-left: 8px solid var(--bg3); */
  opacity: 0;
  transition: all 0.3s;
}

.track:hover .trackExplicit {
  opacity: 1;
}

.nowPlayingTitle {
  color: var(--primary);
}

.artistDescription {
  color: var(--fg3);  
  margin: 0px 24px 0px 24px;
  width: calc(100% - 178px);
}

.artistGenre {
  margin-right: 4px;
  background-color: var(--bg1);
  border-radius: 8px;
  padding: 4px 12px 5px 12px;
  color: var(--fg2);
  border-right: 4px solid var(--afg2);
}

.artistLatestRelease {
  position: relative;
  min-width: 174px;
}

.artistLatestRelease::after {
  content: 'Latest Release';
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  position: absolute;
  top: 14px; left: 0px;
  width: 120px; height: 18px;
  border-radius: 8px 0px 6px 0px;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.22);
  background-color: var(--primary);
}

.artistOtherReleases, .artistSingles, .artistAlbumsSection, .artistLatestRelease, .artistArtists, .artistAppears, .similarAlbums, .versionAlbums, .genreAlbums {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 16px;
  padding-top: 14px;
  overflow-x: auto;
}

.artistAlbumsSection {
  padding-top: 0px;
}

.artistOtherReleases {
  padding-left: 24px;
  border-left: 2px solid var(--afg1);
  position: relative;
}

.artistAlbumsSection {
  padding-bottom: 0px;
}

.artistOtherReleases::after {
  content: 'Past Releases...';
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  position: absolute;
  top: 14px; left: 24px;
  width: 120px; height: 18px;
  border-radius: 8px 0px 6px 0px;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.22);
  background-color: var(--primary);
}

.artistSectionTitle {
  margin-bottom: 8px;
}

.albumSectionTitle {
  margin-bottom: 12px;
}

.artistViewButton {
  float: right;
  margin-right: 12px;
  transform: translateY(1px);
  background-color: var(--bg3);
  color: var(--fg2);
  font-weight: 600;
  padding-right: 38px;
  position: relative;
  z-index: 3;
}

.artistViewButton i {
  position: absolute;
  top: calc(55%); right: 12px;
  transform: translate(0, -50%);
}

.artistGenres {
  float: right;
  margin-right: 12px;
  transform: translateY(12px);
}

.musicViewContentDirectContainer {
  display: grid;
  width: 100%;
  transform: translateY(-52px);
}

.musicViewContentDirectContainer > div {
  grid-column: 1;
  grid-row: 1;
  max-width: 100%;
  min-width: 0px;
  min-height: 0px;
  overflow: auto;
}

.artistDiscographyAlbums {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 32px;
}

.artistDiscographyAlbums > .music-album {
  margin-bottom: 24px;
}

.albumDescription {
  color: var(--fg3);  
  margin: 12px 24px 0px 0px;
}

#searchSuggestions {
  position: absolute;
  left: 0px;
  top: calc(100% + 8px);
}

.searchSuggestionMusic {
  padding: 12px;
  background-color: var(--bg3);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  transition: all 0.2s;
}

.searchSuggestionMusic:hover {
  cursor: var(--defaultByPointer);
  background-color: var(--bg4);
}

.searchSuggestionMusic:active {
  transform: scale(0.95);
}

.searchSuggestionMusic:first-child {
  border-radius: 8px 8px 0px 0px;
}

.searchSuggestionMusic:last-child {
  border-radius: 0px 0px 8px 8px;
}

.playlistView .form {
  margin-top: 18px;
  margin-bottom: 8px;
}

.playlistTrackSearchResults .music-track:first-child {
  margin-top: 18px;
}

.erroredTrack {
  color: var(--fg4);
  padding-left: 114px;
  font-size: 12px; 
}

.playlistEditorView {
  left: 128px;
  width: calc(100% - 128px - 24px);
}

.selectedTrack {
  border-left: 6px solid var(--primary);
  margin-bottom: 8px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  transition: all 0.5s;
}

.playlistDetailsTwo > button {
  margin-top: 12px !important;
}

.playlistEditorView .playlistCover {
  width: 160px;
  transition: all 0.8s;
  height: 160px;
}

.editModeToolbarContainer {
  position: fixed;
  display: inline-flex; flex-direction: row;
  align-items: center; justify-content: center;
  left: calc(50% + 64px); bottom: 36px;
  transform: translateX(-50%);
  transition: all 1s;
  z-index: 5;
}

.editModeToolbar {
  background-color: var(--bg1);
  padding: 4px 12px 4px 12px;
  border-radius: 12px;
  display: flex;
}

.reviewSection {
  border-top: 2px solid var(--afg1);
  padding-top: 12px;
  margin-top: 18px;
}

.reviewSectionHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.reviewSectionOther {
  border: none;
  padding-top: 0px;
  margin-top: 0px;
}

.reviewSectionHeader button {
  padding: 10px 12px;
  margin-right: 0px;
}

.noReviews {
  margin-top: 24px;
  text-align: center; 
}

.noReviews i {
  font-size: 24px;
}

.reviewSectionContent {
  padding-top: 0px;
}

.review {
  background-color: var(--bg3);
  margin: 8px 0px;
  border-radius: 12px;
  margin-bottom: 16px;
}

.review .review-content {
  padding: 0px 18px 4px 18px;
  color: var(--fg2);
}

.review .review-header {
  background-color: var(--bg1);
  padding: 8px;
  border-radius: 12px 12px 0px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.review-header-left, .review-header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.review-header-left .review-header-left-text {
  margin-left: 8px;
  font-weight: 500;
}

.review-header-left .review-header-left-text:hover {
  cursor: var(--defaultByPointer);
  color: var(--primary);
}

.review-header-right-text {
  font-weight: 400;
  font-size: 14px;
  color: var(--fg3);
  margin-right: 8px;
}

.review-header .btn {
  background-color: var(--bg2);
  color: red;
  padding: 10px 12px;
}

.review .review-header .review-header-left img {
  width: 36px; height: 36px;
  margin-left: 6px;
  clip-path: url(#squircle);
  transition: all 0.3s;
}

.review .review-header .review-header-left img:hover {
  cursor: var(--defaultByPointer);
  opacity: 0.8;
}

.review .review-header .review-header-left img:hover:active {
  transform: scale(0.9);
}

.reviewGone {
  height: 0px !important;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: red;
  transition: all 1s;
}

.reviewSection .reviewSectionHeader b {
  font-size: 22px;
}