.unverifiedCard0 {
  height: 40px;  
}

.unverifiedCard1 {
  height: 90px;
  transition: all 2.8s;
}

.unverifiedCard2 {
  height: 140px;
  transition: all 1.8s;
}

.welcomeCard0 {
  height: 40px;
}

.welcomeCard1 {
  height: 90px;
  transition: all 0.8s;
}

.welcomeCard2 {
  height: 260px;
  transition: all 1.8s;
}

.subtitle {
  color: var(--fg3);
}

.form .subtitle {
  font-size: 0.8em;
  margin-top: -12px;  
}