:root {

  --A: A;

  /* --bg1: #E8EEF9; dark
  --bg2: #ffffff; ligher
  --bg3: #e1e6ee; lightest

  --fg1: #16191d;
  --fg2: #20242A;
  --fg3: #323A40;
  --fg4: #495059; 
  
  --afg1: #F8F8FB;
  --afg2: #CFD7DF; */
 
  /* --bg1: #161B1D;
  --bg2: #181b1d;
  --bg3: #222728;

  --fg1: #F8F8FB;
  --fg2: #CFD7DF;
  --fg3: #B7C5CF;
  --fg4: #8794A8;

  --afg1: #212935;
  --afg2: #5D6A7C;  */
}

body {
  user-select: none;
  background-color: var(--bg3);
  color: var(--fg1);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
} 

h1,h2,h3 {
  margin: 0px;
  font-weight: 700;
}

h2 {
  font-size: 1.8em;
}

h4,h5,h6 {
  margin: 0px;
  font-weight: 500;
}

.hidden {
  display: none !important;
}

.card {
  background-color: var(--bg1);
  box-shadow: 0px 1px 14px -3px rgba(0,0,0,0.32);
  padding: 16px;
  border-radius: 9px;
  display: inline-block;
  margin: 6px;
}

.btn {
  padding: 8px 16px 8px 16px;
  text-transform: uppercase;
  margin: 6px;
  font-size: 0.845rem; font-weight: 700;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  opacity: 1;
  transition: all 0.3s;
  border-radius: 8px;
  cursor: var(--defaultByPointer);
  border: 0px;
  outline: none;
}

.btn:active {
  transition: all 0.3s !important;
  transform: scale(0.95) !important;
}

.btn:hover {
  opacity: 0.6;
  transition: all 0.2s;
}

.b-0 {
  background-color: var(--bg1);
  color: var(--fg2);
}

.b-1 {
  background-color: var(--primary);
  color: #fff;
}

.b-2 {
  background-color: var(--secondary);
  color: #fff;
}

.b-3 {
  background-color: var(--bg2);
  color: var(--fg2);
}

.b-4 {
  background-color: var(--bg1);
  color: var(--fg2);
}

.dangerButton {
  background-color: red;
  color: white;
}

.disabled {
  background-color: var(--afg2) !important;
  color: var(--fg1) !important;
  cursor: default !important;
  pointer-events: none !important;
}

.disabled:hover {
  opacity: 1;
}

.centered {
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
}


.toast, .toastred, .toastlime {
  border-radius: 12px;
  color: black;
  box-shadow: 0px 6px 23px -15px rgba(0,0,0,0.62);
}

.toast p,.toastred p, .toastlime p {
  color: #272727;
  margin: 0px;
  margin-top: 6px;
  font-size: 0.9rem;
  line-height: 18px;
}

.toast i,.toastred i, .toastlime i {
  position: absolute;
  top: 5px; right: -16px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.5s;
}

.toast i:hover,.toastred i:hover, .toastlime i:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.toastred, .toastred p {
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.relative {
  position: relative;
}

hr {
  background-color: var(--fg4);
  opacity: 0.3;
  margin: 0px;
  height: 2px;
  border: 0px;
}

a {
  color: var(--secondary);
  text-decoration: none;
  cursor: var(--defaultByPointer);
  transition: all 0.3s;
  transform: scale(1);
}

a:hover {
  opacity: 0.75;
}

a:active, a:active i, a:active * {
  transform: scale(0.90) !important;
}

.grey {
  color: grey !important
}


/* width */
::-webkit-scrollbar {
  width: 0.4em;
  height: 0.4em;
  border-radius: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--bg1);
  border-radius: 0px 12px 12px 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
  width: 0.8em;
  border-radius: 12px;
  transition: all 0.5s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  border-radius: 0px;
  transition: all 0.5s;
}

.invisible {
  visibility: hidden;
}

#titleBar {
  position: fixed;
  z-index: 3000;
  /* background-color: var(--bg1); */
  pointer-events: none;
  width: calc(100% - 96px); height: 36px;
  top: 0px; left: 0px;
}

#windowsControls {
  position: fixed;
  top: 0px; right: 0px;
  z-index: 3001;
  display: flex;
  flex-direction: row;
}

#windowsControls .closeWindowButton {
  background-color: transparent;
  color: var(--fg1);
  z-index: 3002;
  font-size: 14px;
  height: 24px; width: 32px;
  margin: 0px; border-radius: 0px;
  position: relative;
  display: inline-block;
  padding: 6px;
}

#windowsControls .closeWindowButton i{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

#windowsControls .closeWindowButton:active {
  transform: scale(0.70) !important;
}

#windowsControls .closeWindowButton:hover {
  background-color: var(--primary);
  color: white !important;
  opacity: 1;
}

.checkbox {
  --bg: #fff;
  --brdr: grey;
  --brdr-actv: var(--primary);
  --brdr-hovr: var(--fg4);
  --dur: calc((var(--size, 2)/2) * 0.6s);
  display: inline-block;
  vertical-align: middle;
  width: calc(var(--size, 1) * 22px);
  position: relative;
  z-index: 3;
}
.checkbox:after {
  content: "";
  width: 100%;
  padding-top: 100%;
  display: block;
}
.checkbox > * {
  position: absolute;
}
.checkbox input, .checkbox input:focus, .checkbox input:active {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  background-color: transparent;
  border-radius: calc(var(--size, 1) * 4px);
  border: calc(var(--newBrdr, var(--size, 1)) * 1px) solid;
  color: var(--newBrdrClr, var(--brdr));
  outline: none;
  margin: 0;
  padding: 0;
  transition: all calc(var(--dur) / 3) linear;
}
.checkbox input:hover, .checkbox input:checked {
  --newBrdr: calc(var(--size, 1) * 1);
  transition: all 0.5s;
}
.checkbox input:hover {
  --newBrdrClr: var(--brdr-hovr);
  transition: all 0.5s;
}
.checkbox input:checked {
  --newBrdrClr: var(--brdr-actv);
  transition-delay: calc(var(--dur) /1.3);
}
.checkbox input:checked + svg {
  --dashArray: 16 93;
  --dashOffset: 109;
}
.checkbox svg {
  fill: none;
  left: 0;
  pointer-events: none;
  stroke: var(--stroke, var(--border-active));
  stroke-dasharray: var(--dashArray, 93);
  stroke-dashoffset: var(--dashOffset, 94);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
  top: 0;
  transition: stroke-dasharray var(--dur), stroke-dashoffset var(--dur);
}
.checkbox svg, .checkbox input {
  display: block;
  height: 100%;
  width: 100%;
}

.notyf {
  padding: 48px 24px 0px 0px;
}